<p>
  Player-list works!
</p>
<div>
  Player List
  <div *ngFor="let player of this.players">
    <div [appHighlighter]="highlighterColor">Name: {{player.name}}
      <span *ngIf="displayNickName">
        {{player.nickName}}
      </span>
    </div>
    <div>Skill: {{player.skill}}
    </div>
    <div>-----</div>
  </div>
  <div>
    <input type="checkbox" (change)="checkChanged($event.target.checked)" [checked]="displayNickName">
    Display NickName
  </div>
</div>


<form [formGroup]="addPlayerFormGroup">
  <div>Add Player</div>
  <div>
    Name:
    <input type="text" formControlName="name" />
  </div>
  <div>
    Skill:
    <input type="text" formControlName="skill" />
  </div>
  <div>
    Nick Name:
    <input type="text" formControlName="nickName" />
  </div>
  <div>
    <button (click)="addPlayerClick()">Add</button>
  </div>
</form>